/* Estilos para selectores genéricos */
body {
    background-color: #cad2c5;
    color: #52796f;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align: justify;
}

.bgColor {
    background-color: #52796f;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

h1 {
    color: greenyellow;
    text-shadow: 2px 2px 4px #000;
}

a.navlinks {
    outline: none;
    text-decoration: none;
    padding: 5px;
    text-shadow: 2px 2px 2px #000;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: greenyellow;
}

/* Definición del grid page */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.2em;
}

/* Estilos para el header */
header {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    background-color: #354f52;
    color: #cad2c5;
    align-items: baseline;
}

.logo {
    width: 20px;
}

/* Estilos para main */
main {
    grid-row: span 2;
    grid-column: span 2;
}

section.home {
    display: flex;
    flex-direction: row;
    margin: 2.5%;
    justify-content: space-around;
}

.home-intro {
    width: 50%;
    margin: 10px;
}

article.post {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid #354f52;
    color: white;
    background-color: #354f52;
    border-radius: 3px;
}

/* Estilos para el footer */
footer {
    grid-column: 1/-1;
    color: #cad2c5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: 2px 2px 4px #000;  
}

